/*Base CSS Elements*/
body{
    margin-top:20px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.64)),url(https://images.pexels.com/photos/269140/pexels-photo-269140.jpeg);
    background-size:cover;
    font-family: 'Montserrat', sans-serif !important;
}
.container{
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: 22px !important;
    width: auto !important;
}

h2{
    color: #B4001C !important;
    font-size:19px !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 700 !important;
}
h4{
    color: #ffffff !important;
}
button{
    background: #B4001C !important;
    color: white !important;
    border: none !important;
}
button:active{
    background-color: #ffffff !important;
    color: #ff0000 !important;
    border: none !important;
}
.btn{
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.btn-default:active .btn:active
{
    background-color: #ffffff !important;
    color: #ff0000 !important;
    border: none !important;
}

/*Filter Buttons*/
.filter-button:hover
{
    font-size: 18px !important;
    border: none !important;
    /*border: 1px solid #ffffff !important;*/
    border-radius: 5px!important;
    text-align: center!important;
    color: #ff0000 !important;
    background-color: #ffffff !important;

}
.genre{
    font-size: 13px !important;
}

.movie-item span {
    display: block;
}

/*Gallery Styles*/
.gallery-title
{
    font-size: 58px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
}
.gallery_product
{
    margin-bottom: 30px;
    width: 316px !important;
}

.port-image
{
    width: 100%;
}

#api-results{
    margin-bottom: -17px !important;
}

/*Movie Detail Elements*/

.frame {
    float: left;
    height: 460px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.frame a {
    display: block;
    height: 100%;
    width: 100%;
}


.frame a .caption {
    background-color: rgba(4, 4, 3, 0.82);
    display: block;
    overflow: hidden;
    padding: 10px;
    padding-top: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 346px;
    transition-property: top;
    transition-duration: 0.2s;
    width: 100%;
    z-index: 10;
}

.frame a:hover .caption {
    top: 0;
    transition: all 2s;
}

.frame a .caption h2 {
    color: #ffffff;
    font-size: 16px;
    /*margin-bottom: 20px;*/
}

.frame a .caption p {
    color: white;
    display: none;
    line-height: 150%;
    transition: all 0.2s;
    width: 90%;
}

.frame a:hover .caption p {
    display: block;
    margin-bottom: 20px;
}

/*Rating element*/
.checked {
    color: yellow;
}